{#{% if app.request.get('_route') == 'homepage' %}#}
    <div class="search-bar">
        <div class="container">
            <div class="row">
                {{ form_start(form, {
                    'attr': {'class': 'form-inline'}
                }) }}
                <div class="col-lg-4">
                    <div class="form-group full-width">
                        {{ form_widget(form.item, {
                            'attr': {'class':'form-control full-width', 'placeholder': 'Search for items'}
                        }) }}
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group full-width">
                        {{ form_widget(form.category, {
                            'attr': {'class':'form-control full-width'}
                        }) }}
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group full-width">
                        {{ form_widget(form.city, {
                            'attr': {'class':'form-control full-width'}
                        }) }}
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        {{ form_widget(form.submit, {
                            'attr': {'class': 'btn btn-circle pull-right'}
                        }) }}
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{#
{% else %}

{% endif %}
#}