<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %} - Fabour</title>
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/comp.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/dropzone.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/profile.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/MAgallery.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {# ======================================================#}
        {# 0 - Navbar was here                                   #}
        {# ======================================================#}
        {{ render(controller('AppBundle:Default:profilePicture')) }}
        <main>
            {# Render the searchbar controller below #}
            {{ render(controller('AppBundle:Search:searchBarRender')) }}
            {# End of searchbar rendering #}

            <div class="container" style="margin-top: 50px">
            {% block body %}{% endblock %}
            </div>
            {# ======================================================#}
            {# 1 - Popular items bar                                 #}
            {# ======================================================#}
            {{ render(controller('AppBundle:Post:popularItemsBottom')) }}

        </main>
        <footer>
            <div class="container">
                <div class="bottom-logo-holder">
                    <img src="{{ asset('bundles/app/img/logo-bottom.png') }}" alt="">
                </div>
                <p>Copyright © 2016 Fabour</p>
                <p class="text-center">This website was made by Mohammed Baza @ 2016</p>
            </div>
        </footer>
        <!-- Loading the scripts -->
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery-1.11.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery-ui.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/MAgallery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/dropzone.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/animation.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/app.js') }}"></script>

        {% block javascripts %}{% endblock %}

    </body>
</html>
