{% extends 'base.html.twig' %}

{% block title 'Index ' %}

{% block body %}
    {{ parent() }}
<div class="col-lg-9">
    {% if items %}
        <ul class="product-list-basic">
            {% for item in items %}
                <li>
                    <a href="{{ path('app_post_full', { 'id': item.id }) }}" class="product-photo">
                        <img class="img-responsive" src="{{ asset('/uploads/images/posts/' ~ item.image) }}" height="130" alt="{{ item.title }}" />
                    </a>

                    <h2><a href="{{ path('app_post_full', { 'id': item.id }) }}">{{ item.title }}</a></h2>
                    {#<a href="#" class="product-compare">{{ item.owner }}</a>#}
                    <p class="product-description">{{ item.category.getCat() }}</p>
                    <strong><p class="product-description">{{ item.city.getCity() }}</p></strong>
                    <!--
            <p>{{ item.description|length > 150 ? item.description|slice(0,30) : item.description  }}...</p>
            -->
                    <button>Learn more!</button>
                    <p class="product-price">{{ item.price }}DH</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

    <!-- Side bar -->
        <div class="col-lg-3 pull-right" >
            <div class="portlet light">
                <div class="caption">Something:</div>
                <div class="portlet-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur at, consequatur deleniti deserunt ex excepturi hic id ipsam laborum minima porro quam, quis repellat totam vel velit voluptas voluptatibus!</p>
                </div>
            </div>
        </div>


{% endblock %}
