{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="col-lg-offset-3 col-lg-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    Login
                </div>
            </div>
            <div class="portlet-body">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="form-group">
                        <label for="username" class="control-label">{{ 'security.login.username'|trans }}</label>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">{{ 'security.login.password'|trans }}</label>
                        <input class="form-control" type="password" id="password" name="_password" required="required" />
                    </div>
                    <div class="checkbox">
                        <label>
                            <input class="control-label" type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
                        </label>
                    </div>
                    <input class="btn btn-circle red-haze pull-right" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </form>
            </div>

        </div>
    </div>
{% endblock fos_user_content %}
