{% extends "::base.html.twig" %}

{% block title %}
    {{ item.title }}
{% endblock %}

{% block body %}
    <div class="col-lg-9" style="color: #0d1217">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md"><h2 class="text-primary">{{ item.title }}</h2></div>
                <div class="actions"><h2 class="text-primary">{{ item.price }}DH</h2></div>
            </div>
            <div class="portlet-body">
                <div style="width: 100%;">
                    <img class="img-responsive" src="{{ asset('uploads/images/posts/' ~ item.image) }}" alt="{{ item.title }}" >
                </div>
                <hr>
            <ul id="myGallery" class="gallery col-xs-12" style="margin: 0 auto;">
                {% for image in images %}
                    <li class="col-xs-6 col-sm-3"><span><img src="{{ asset('uploads/images/posts/' ~ image.name) }}"/></span></li>
                {% endfor %}
            </ul>
            <p>{{ item.description }}<br>
                <hr>

            <div class="row">
                <div class="col-lg-12">
                    <div class="pull-left">
                        <strong>E-mail:</strong>
                        <h4>{{ item.email }}</h4>
                    </div>
                    <div class="pull-right">
                        <strong>Phone:</strong>
                        <h4>{{ item.phone }}</h4>
                    </div>
                </div>
            </div>
                <hr>
            <div class="row">
                <div class="col-lg-6">
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#messageModal">
                        <span class="glyphicon glyphicon-envelope"></span> Contact Seller
                    </a>
                </div>
            </div>

            </div>

        </div>
    </div>
    <div class="clear-dix"></div>
    <!-- Side bar -->
    <div class="row">
        <div class="col-lg-3">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        Number of views
                    </div>
                </div>

                <div class="portlet-body">
                    <span class="text-center">{{ item.views }}</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        Similar Posts
                    </div>
                </div>

                <div class="portlet-body">
                    <span class="text-center">{{ item.views }}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Send a message</h4>
                </div>
                {{ form_start(message, {
                    'attr': {'id': 'message'}
                }) }}
                <div class="modal-body">
                    <div class="form-group">
                        {{ form_label(message.name, null, {
                            'label_attr': {'class': 'label-control'}
                        }) }}
                        {{ form_widget(message.name, {
                            'attr': {'class': 'form-control'}
                        }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(message.phone, null, {
                            'label_attr': {'class': 'label-control'}
                        }) }}
                        {{ form_widget(message.phone, {
                            'attr': {'class': 'form-control'}
                        }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(message.email, null, {
                            'label_attr': {'class': 'label-control'}
                        }) }}
                        {{ form_widget(message.email, {
                            'attr': {'class': 'form-control'}
                        }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(message.message, null, {
                            'label_attr': {'class': 'label-control'}
                        }) }}
                        {{ form_widget(message.message, {
                            'attr': {'class': 'form-control'}
                        }) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    {{ form_widget(message.send, {
                        'attr': {'class': 'btn btn-primary'}
                    }) }}
                </div>
                {{ form_end(message) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            MAgallery("myGallery");

            $.ajax({
                type: "POST",
                url: "{{ path('add_view', {'id': item.id}) }}"
            });
        });

    </script>
{% endblock %}