{% extends "::base.html.twig" %}

{% block title %}Add new item{% endblock %}

{% block body %}
<div class="swag-container">
    <h1 class="swag-text text-center">Add new item</h1>
</div>
    {% if app.session.flashBag.has('post-add') %}
        {% for message in app.session.flashBag.get('post-add') %}
            <div class="row">
                <div class="alert alert-success">
                    <h2 class="text-info text-center">{{ message }}</h2>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="col-lg-9">
        <div class="portlet light">
            <div class="portlet-body" style="overflow: hidden">
            {{ form_start(form, {
                'attr': {'id': 'addForm'}
            }) }}
        <div class="form-group">
            {{ form_widget(form.title, {
                'attr': {'class': 'form-control input-lg', 'placeholder': 'Please enter the title here'}
            }) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.description, {
                'attr': {'class': 'form-control input-lg', 'placeholder': 'Please enter the description here'}
            }) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.price, {
                'attr': {'class': 'form-control input-lg', 'placeholder': 'Please enter your price here'}
            }) }}
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    {{ form_widget(form.category, {
                        'attr': {'class': 'form-control'}
                    }) }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    {{ form_widget(form.city, {
                        'attr': {'class': 'form-control'}
                    }) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    {{ form_widget(form.phone, {
                        'attr': {'class': 'form-control input-lg', 'placeholder': 'Please enter your phone number here'}
                    }) }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    {{ form_widget(form.email, {
                         'attr': {'class': 'form-control input-lg', 'placeholder': 'Please enter your email here'}
                    }) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form_widget(form.image, {
                'attr': {'class': 'form-control input-lg'}
            }) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.add, {
                'attr': {'class': 'btn btn-circle btn-lg green-haze pull-right'}
            }) }}
        </div>

    {{ form_end(form) }}
            </div>
        </div>
    </div>



<div class="col-lg-3">
    <div class="portlet light">

    </div>
</div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>

    </script>
    <!--
    <script>
        var getXHR = function() {
            var httpRequest;
            if (window.XMLHttpRequest) { // Mozilla, Safari, IE7+ ...
                httpRequest = new XMLHttpRequest();
                console.log('created XMLHTTPREQ')
            } else if (window.ActiveXObject) { // IE 6 and older
                httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
                console.log('ActiveXObject')
            }

            return httpRequest;
        };

        var xhr = getXHR();
        var form = document.querySelector("#addForm");
        form.addEventListener('submit', function() {
            xhr.onreadystatechange = function() {
                if(xhr.readyState === XMLHttpRequest.DONE) {
                    if(xhr.status === 200) {
                        alert('looks good');
                    } else {
                        alert('oops , shit went bad bruh!');
                    }
                }
            };
        })

        var formData = new FormData(form);
        xhr.open('POST', '{{ path('app_post_new') }}', true);
        xhr.send(formData);


    </script> -->
{% endblock %}