<div class="tab-pane" id="tab3">
    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-circle green-haze pull-right" href="{{ path('app_post_new') }}"><span class="glyphicon glyphicon-plus"></span> New item</a>
        </div>
    </div>
    <hr>
    {% for item in items %}
    <div class="item-wrapper">
        <img class="img-responsive item-pic" src="{{ asset('uploads/images/posts/' ~ item.image) }}" alt="">

        <div class="col-lg-9 item-info">
            <a href="{{ path('app_post_full', {'id': item.id }) }}"><span class="item-title">{{ item.title }}</span></a>
            <!--  <p class="item-desc">{{ item.description|length > 50 ? item.description|slice(0, 150) ~ '...' : item.description  }}</p> -->
            <p class="item-desc">{{ item.category.getCat }}</p>
            <p class="item-desc"><strong>{{ item.city.getCity }}</strong></p>
            <div class="profile-userbuttons pull-right fucks">
                <a href="{{ path('app_post_delete', {'id': item.id }) }}" class="btn btn-circle red-haze "><span class="glyphicon glyphicon-trash"></span></a>
                <a href="{{ path('app_post_edit', {'id': item.id }) }}" class="btn btn-circle green-haze "><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="{{ path('app_post_full', {'id': item.id }) }}" class="btn btn-circle blue-chambray">View</a>
                {% if (item.getIsActive) %}
                    <a href="#" id="toggleButton{{ item.id }}" class="btn btn-md btn-success" onclick="toggleStatus(event, {{ item.id }})">Deactivate</a>
                {% else %}
                    <a href="#" id="toggleButton{{ item.id }}" class="btn btn-md btn-danger" onclick="toggleStatus(event, {{ item.id }})">Activate</a>
                {% endif %}
            </div>
        </div>
    </div>
        <hr>
    {% endfor %}
</div>